body {
  margin: 0px;
  background-color: #b2c4d4;
}

h1 {
  font-weight: 200;
  font-style: italic;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.container_items {
  max-width: 700px;
  display: flex;
  flex-direction: column;
  min-width: 624px;
}

.max_width {
  width: 100%;
  margin-right: 50px;
}

.max_width input {
  width: 100%;
}

.main_box {
  height: 50%;
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #aabfd2;
  padding: 40px;
  border-radius: 1rem;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  margin-left: 25px;
  padding: 0px 20px;
  margin-top: 50px;
  border: 0px;
  border-radius: 5px;
  background-color: #45c355;
}

.expenses-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.expenses-container p {
  margin-right: 10px;
}

.sum_text {
  display: flex;
  justify-content: flex-end;
}

.container_box {
  display: flex;
  flex-direction: row;
}

.sum_text p {
  font-size: 1.7rem;
}

input[type="number"] {
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
 
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}

.expenses-box {
  display: flex;
  flex-direction: row;
}

.expenses-boxImg {
  display: flex;
}